html {
  scroll-behavior: smooth;
}

div.a {
  text-align: center;
  font-family: Consolas;
  padding-top: 40px;
  padding-right: 25%;
  padding-left: 25%;
}
#mainMap{
  height: 300px;
}
div.script {
  text-align: left;
  font-family: Consolas;
  font-size: 10px;
}

th{
  background-color: #A9A9A9;
  color: white;
}
table, th, td {
  padding: 10px;
    border: 2px solid #A9A9A9;
    border-color: solid black;
    border-collapse: collapse;
}
.button {
	text-align: center;
 	font-family: Consolas;
}
